---
import Layout from "../layouts/layout.astro";
import Hero from "../components/sections/hero.astro";
import Projects from "../components/sections/projects.astro";
import Experience from "../components/sections/experience.astro";
import Skills from "../components/sections/skills.astro";
---

<Layout title="Mastwal Mesfin | Software Engineer">
  <Hero />
  <Skills />
  <Projects />
  <Experience />

  <section class="py-20 text-center border-t border-ui-100 dark:border-ui-900">
    <p class="font-mono text-ui-400">
      (Phase 5: GitHub API Integration Next...)
    </p>
  </section>
</Layout>
