---
import Layout from "../layouts/layout.astro";
import Hero from "../components/sections/hero.astro";
import Projects from "../components/sections/projects.astro";
import Experience from "../components/sections/experience.astro";
import Skills from "../components/sections/skills.astro";
// 👇 Add Import
import GithubDashboard from "../components/sections/github-dashboard.astro";
---

<Layout title="Mastwal Mesfin | Software Engineer">
  <Hero />
  <Skills />
  <Projects />
  <Experience />
  <GithubDashboard />

  <footer class="py-12 text-center text-ui-400 text-sm font-mono">
    <p>
      &copy; {new Date().getFullYear()} Mastwal Mesfin. Built with Astro & Tailwind.
    </p>
  </footer>
</Layout>
