---
import Layout from "../layouts/layout.astro";
import Hero from "../components/sections/hero.astro";
import Experience from "../components/sections/experience.astro";
import Skills from "../components/sections/skills.astro";
---

<Layout title="Mastwal Mesfin | Software Engineer">
  <Hero />
  <Skills />
  <Experience />

  <!-- Placeholder for Phase 4 -->
  <section class="py-20 text-center border-t border-ui-100 dark:border-ui-900">
    <p class="font-mono text-ui-400">(Projects & GitHub API Loading...)</p>
  </section>
</Layout>
